<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mhdarslan.mydoctorapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDoctorApp">
        <activity android:name=".PrecautionsDetailActivity"
            android:parentActivityName=".PrecautionsActivity"></activity>
        <activity android:name=".PrecautionsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TipsDetailActivity"
            android:parentActivityName=".HealthTipsActivity" />
        <activity
            android:name=".HealthTipsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GuidelinesActivity"
            android:parentActivityName=".PrevGuidelineActivity" />
        <activity
            android:name=".PrevGuidelineActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".HomeTreatmentActivity" />
        <activity
            android:name=".HomeTreatmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HealthDiaryActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            //change here .MainActivity to .SplashScreen
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MyDoctorApp" />
    </application>

</manifest>